@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}